span(class="sb-nav-fixed")
    sb-top-nav
    #layoutSidenav
        #layoutSidenav_nav
            sb-side-nav
        #layoutSidenav_content
            main
                .container-fluid
                    ng-content
            sb-footer
