sb-layout-dashboard
    sb-dashboard-head(title='Dashboard', i18n-title="@@dashboard", [hideBreadcrumbs]='true')
    sb-dashboard-cards
    sb-card
        .card-body
            span(i18n="@@dashboardInfo") This board displays info about the chicken coop.
    sb-dashboard-widgets
