.row
    .col-xl-6
        sb-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "door-open"]')
                span(i18n='@@door') Door
                .float-right
                    sb-dashboard-door-action([doorStatus]='doorStatus')
            .card-body
                div.spinner-border(*ngIf='doorStatus === undefined', role='status')
                    span(i18n='@@loading').sr-only Loading...
                div(*ngIf='doorStatus !== undefined && doorStatus === "OPENED"',i18n='@@stateOpened') State : Opened
                div(*ngIf='doorStatus !== undefined && doorStatus === "OPENING"',i18n='@@stateOpening') State : Opening ...
                div(*ngIf='doorStatus !== undefined && doorStatus === "CLOSING"',i18n='@@stateClosing') State : Closing ...
                div(*ngIf='doorStatus !== undefined && doorStatus === "CLOSED"',i18n='@@stateClosed') State : Closed
                div(*ngIf='doorStatus !== undefined && doorStatus === "SEEMS_OPENED"',i18n='@@stateSeemsOpened') State : Seems opened
                div(*ngIf='doorStatus !== undefined && doorStatus === "SEEMS_CLOSED"',i18n='@@stateSeemsClosed') State : Seems closed
                div(*ngIf='doorStatus !== undefined && doorStatus === "OPENED_INCORRECTLY"',i18n='@@stateOpenedIncorrectly') State : Opened incorrectly
                div(*ngIf='doorStatus !== undefined && doorStatus === "CLOSED_INCORRECTLY"',i18n='@@stateClosedIncorrectly') State : Closed incorrectly
                div(*ngIf='nextOpeningTime !== undefined',i18n='@@nextOpeningTime') Next opening time : {{nextOpeningTime}}
                div(*ngIf='nextClosingTime !== undefined',i18n='@@nextClosingTime') Next closing time : {{nextClosingTime}}
    .col-xl-6
        sb-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "sun"]')
                span(i18n='@@weather') Weather
                .float-right
                    sb-dashboard-weather-action()
            .card-body
                div.spinner-border(*ngIf='temperature === undefined',role='status')
                    span(i18n='@@loading').sr-only Loading...
                div(*ngIf='temperature !== undefined',i18n='temperature: temperature in the chichen cooop@@weatherTemp') Temp : {{temperature}}° ({{temperatureExternal}}° exterior)
                div(*ngIf='humidity !== undefined',i18n='humidity: humidity in the chicken coop@@weatherHumidity') Humidity : {{humidity}}% ({{humidityExternal}}% exterior)
    .col-xl-6
        sb-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "fan"]')
                span(i18n='@@accessories') Accessories
                .float-right
                    sb-dashboard-accessories-action([lightStatus]='lightStatus', [fanStatus]='fanStatus', [musicStatus]='musicStatus')
            .card-body
                div.spinner-border(*ngIf='musicStatus === undefined',role='status')
                    span(i18n='@@loading').sr-only Loading...
                div(*ngIf='lightStatus !== undefined')
                    span(i18n='@@light') Light
                    | {{' '}}:{{' '}}
                    span(*ngIf='lightStatus === true',i18n='@@on')  On
                    span(*ngIf='lightStatus !== true',i18n='@@off')  Off
                div(*ngIf='musicStatus !== undefined')
                    span(i18n='@@music') Music
                    | {{' '}}:{{' '}}
                    span(*ngIf='musicStatus === true',i18n='@@on')  On
                    span(*ngIf='musicStatus !== true',i18n='@@off')  Off
                div(*ngIf='fanStatus !== undefined')
                    span(i18n='@@fan') Fan
                    | {{' '}}:{{' '}}
                    span(*ngIf='fanStatus === true',i18n='@@on')  On
                    span(*ngIf='fanStatus !== true',i18n='@@off')  Off
    .col-xl-6
        sb-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "camera"]')
                span(i18n='@@webcam') Webcam
                .float-right
                    sb-dashboard-webcam-action()
            .card-body
                div.spinner-border(*ngIf='pictureInitialised === false',role='status')
                    span.sr-only
                        span(i18n='@@loading') Loading...
                img([src]='picturePath', (load)='pictureIsInitialised()' , alt="chicken coop picture", i18n-alt='@@chicken coop picture', class="{{pictureInitialised === false ? 'hidden':'not_hidden'}}")
