.row
    .col-xl-6
        sb-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "door-open"]')
                | Door
                .float-right
                    sb-dashboard-door-action([doorStatus]='doorStatus')
            .card-body
                div(*ngIf='doorStatus !== undefined && doorStatus === "OPENED"') State : Opened
                div(*ngIf='doorStatus !== undefined && doorStatus === "CLOSED"') State : Closed
                div(*ngIf='doorStatus === undefined || doorStatus === "UNDEFINED"') State : Undefined
                div(*ngIf='doorStatus !== undefined && doorStatus === "SEEMS_OPENED"') State : Seems opened
                div(*ngIf='doorStatus !== undefined && doorStatus === "SEEMS_CLOSED"') State : Seems closed
                div Next opening time : {{nextOpeningTime}}
                div Next closing time : {{nextClosingTime}}
    .col-xl-6
        sb-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "sun"]')
                | Meteo
            .card-body
                div Temp : {{temperature}}° ({{temperatureExternal}}° exterior)
                div Humidity : {{humidity}}% ({{humidityExternal}}% exterior)
    .col-xl-6
        sb-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "fan"]')
                | Accessories
                .float-right
                    sb-dashboard-accessories-action([lightStatus]='lightStatus', [fanStatus]='fanStatus', [musicStatus]='musicStatus')
            .card-body
                div Light :
                    span(*ngIf='lightStatus === true')  On
                    span(*ngIf='lightStatus !== true')  Off
                div Music :
                    span(*ngIf='musicStatus === true')  On
                    span(*ngIf='musicStatus !== true')  Off
                div Fan :
                    span(*ngIf='fanStatus === true')  On
                    span(*ngIf='fanStatus !== true')  Off
    .col-xl-6
        sb-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "camera"]')
                | Webcam
                .float-right
                    sb-dashboard-webcam-action()
            .card-body <img src="{{picturePath}}" alt="chicken coop picture" />
