.row
    .col-xl-6
        sb-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "door-open"]')
                span(i18n='@@door') Door
                .float-right
                    sb-dashboard-door-action([doorStatus]='doorStatus')
            .card-body
                div.spinner-border(*ngIf='doorStatus === undefined  && doorStatusOnError === false', role='status')
                    span(i18n='@@loading').sr-only Loading...
                div(*ngIf='doorStatus !== undefined || doorStatusOnError === true')
                    span(i18n='@@state') State
                    | {{' '}}:{{' '}}
                    span(*ngIf='doorStatus !== undefined && doorStatus === "OPENED"',i18n='@@stateOpened') Opened
                    span(*ngIf='doorStatus !== undefined && doorStatus === "OPENING"',i18n='@@stateOpening') Opening ...
                    span(*ngIf='doorStatus !== undefined && doorStatus === "CLOSING"',i18n='@@stateClosing') Closing ...
                    span(*ngIf='doorStatus !== undefined && doorStatus === "CLOSED"',i18n='@@stateClosed') Closed
                    span(*ngIf='doorStatus !== undefined && doorStatus === "SEEMS_OPENED"',i18n='@@stateSeemsOpened') Seems opened
                    span(*ngIf='doorStatus !== undefined && doorStatus === "SEEMS_CLOSED"',i18n='@@stateSeemsClosed') Seems closed
                    span(*ngIf='doorStatus !== undefined && doorStatus === "OPENED_INCORRECTLY"',i18n='@@stateOpenedIncorrectly') Opened incorrectly
                    span(*ngIf='doorStatus !== undefined && doorStatus === "CLOSED_INCORRECTLY"',i18n='@@stateClosedIncorrectly') Closed incorrectly
                    span(*ngIf='doorStatusOnError === true',i18n='@@informationNotAvailable') Information not available
                div(*ngIf='nextOpeningTime !== undefined || nextEventsOnError === true')
                    span(i18n='@@nextOpeningTime') Next opening time
                    | {{' '}}:{{' '}}
                    span(*ngIf='nextOpeningTime !== undefined') {{nextOpeningTime}}
                    span(*ngIf='nextEventsOnError === true',i18n='@@informationNotAvailable') Information not available
                div(*ngIf='nextClosingTime !== undefined || nextEventsOnError === true')
                    span(i18n='@@nextClosingTime') Next opening time
                    | {{' '}}:{{' '}}
                    span(*ngIf='nextClosingTime !== undefined') {{nextClosingTime}}
                    span(*ngIf='nextEventsOnError === true',i18n='@@informationNotAvailable') Information not available
    .col-xl-6
        sb-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "sun"]')
                span(i18n='@@weather') Weather
                .float-right
                    sb-dashboard-weather-action()
            .card-body
                div.spinner-border(*ngIf='temperature === undefined && meteoOnError === false',role='status')
                    span(i18n='@@loading').sr-only Loading...
                div(*ngIf='temperature !== undefined || meteoOnError === true')
                    span(i18n='@@temperature') Temperature
                    | {{' '}}:{{' '}}
                    span(*ngIf='temperature !== undefined',i18n='temperature in the chichen cooop@@weatherTemp') {{temperature}}° ({{temperatureExternal}}° exterior)
                    span(*ngIf='meteoOnError === true',i18n='temperature in the chichen cooop unavailable@@informationNotAvailable') Information not available
                div(*ngIf='humidity !== undefined || meteoOnError === true')
                    span(i18n='@@humidity') Humidity
                    | {{' '}}:{{' '}}
                    span(*ngIf='humidity !== undefined',i18n='humidity: humidity in the chicken coop@@weatherHumidity')  {{humidity}}% ({{humidityExternal}}% exterior)
                    span(*ngIf='meteoOnError === true',i18n='humidity: humidity in the chicken coop unavailable@@informationNotAvailable')  Information not available
    .col-xl-6
        sb-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "fan"]')
                span(i18n='@@accessories') Accessories
                .float-right
                    sb-dashboard-accessories-action([lightStatus]='lightStatus', [fanStatus]='fanStatus', [musicStatus]='musicStatus')
            .card-body
                div.spinner-border(*ngIf='(musicStatus === undefined && musicStatusOnError === false) || (lightStatus === undefined && lightStatusOnError === false) || (fanStatus === undefined && fanStatusOnError === false)',role='status')
                    span(i18n='@@loading').sr-only Loading...
                div(*ngIf='lightStatus !== undefined || lightStatusOnError === true')
                    span(i18n='@@light') Light
                    | {{' '}}:{{' '}}
                    span(*ngIf='lightStatus === true',i18n='@@on')  On
                    span(*ngIf='lightStatus === false',i18n='@@off')  Off
                    span(*ngIf='lightStatusOnError === true',i18n='@@informationNotAvailable')  Information not available
                div(*ngIf='musicStatus !== undefined || musicStatusOnError === true')
                    span(i18n='@@music') Music
                    | {{' '}}:{{' '}}
                    span(*ngIf='musicStatus === true',i18n='@@on')  On
                    span(*ngIf='musicStatus === false',i18n='@@off')  Off
                    span(*ngIf='musicStatusOnError === true',i18n='@@informationNotAvailable')  Information not available
                div(*ngIf='fanStatus !== undefined || fanStatusOnError === true')
                    span(i18n='@@fan') Fan
                    | {{' '}}:{{' '}}
                    span(*ngIf='fanStatus === true',i18n='@@on')  On
                    span(*ngIf='fanStatus === false',i18n='@@off')  Off
                    span(*ngIf='fanStatusOnError === true',i18n='@@informationNotAvailable')  Information not available
    .col-xl-6
        sb-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "camera"]')
                span(i18n='@@webcam') Webcam
                .float-right
                    sb-dashboard-webcam-action((refreshWebcamEvent)="refreshWebcamEventHandler($event)")
            .card-body
                div.spinner-border(*ngIf='pictureInitialised === false',role='status')
                    span.sr-only
                        span(i18n='@@loading') Loading...
                img([src]='picturePath', (load)='pictureIsInitialised()' , alt="chicken coop picture", i18n-alt='@@chicken coop picture', class="{{pictureInitialised === false ? 'hidden':'not_hidden'}}")
