<div class="row">
    <div class="col-xl-6">
        <sb-card
            ><div class="card-header">
                <fa-icon class="mr-1" [icon]='["fas", "door-open"]'></fa-icon>Door
                <div class="float-right"><sb-dashboard-door-action [doorStatus]="doorStatus"></sb-dashboard-door-action></div>
            </div>
            <div class="card-body">
                <div *ngIf='doorStatus !== undefined &amp;&amp; doorStatus === "OPENED"'>State : Opened</div>
                <div *ngIf='doorStatus !== undefined &amp;&amp; doorStatus === "OPENING"'>State : Opening ...</div>
                <div *ngIf='doorStatus !== undefined &amp;&amp; doorStatus === "CLOSING"'>State : Closing ...</div>
                <div *ngIf='doorStatus !== undefined &amp;&amp; doorStatus === "CLOSED"'>State : Closed</div>
                <div *ngIf='doorStatus === undefined || doorStatus === "UNDEFINED"'>State : Undefined</div>
                <div *ngIf='doorStatus !== undefined &amp;&amp; doorStatus === "SEEMS_OPENED"'>State : Seems opened</div>
                <div *ngIf='doorStatus !== undefined &amp;&amp; doorStatus === "SEEMS_CLOSED"'>State : Seems closed</div>
                <div *ngIf='doorStatus !== undefined &amp;&amp; doorStatus === "OPENED_INCORRECTLY"'>State : Opened incorrectly</div>
                <div *ngIf='doorStatus !== undefined &amp;&amp; doorStatus === "CLOSED_INCORRECTLY"'>State : Closed incorrectly</div>
                <div>Next opening time : {{nextOpeningTime}}</div>
                <div>Next closing time : {{nextClosingTime}}</div>
            </div></sb-card
        >
    </div>
    <div class="col-xl-6">
        <sb-card
            ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "sun"]'></fa-icon>Weather</div>
            <div class="card-body">
                <div>Temp : {{temperature}}° ({{temperatureExternal}}° exterior)</div>
                <div>Humidity : {{humidity}}% ({{humidityExternal}}% exterior)</div>
            </div></sb-card
        >
    </div>
    <div class="col-xl-6">
        <sb-card
            ><div class="card-header">
                <fa-icon class="mr-1" [icon]='["fas", "fan"]'></fa-icon>Accessories
                <div class="float-right"><sb-dashboard-accessories-action [lightStatus]="lightStatus" [fanStatus]="fanStatus" [musicStatus]="musicStatus"></sb-dashboard-accessories-action></div>
            </div>
            <div class="card-body">
                <div>Light :<span *ngIf="lightStatus === true"> On</span><span *ngIf="lightStatus !== true"> Off</span></div>
                <div>Music :<span *ngIf="musicStatus === true"> On</span><span *ngIf="musicStatus !== true"> Off</span></div>
                <div>Fan :<span *ngIf="fanStatus === true"> On</span><span *ngIf="fanStatus !== true"> Off</span></div>
            </div></sb-card
        >
    </div>
    <div class="col-xl-6">
        <sb-card
            ><div class="card-header">
                <fa-icon class="mr-1" [icon]='["fas", "camera"]'></fa-icon>Webcam
                <div class="float-right"><sb-dashboard-webcam-action></sb-dashboard-webcam-action></div>
            </div>
            <div class="card-body"><img src="{{picturePath}}" alt="chicken coop picture" /></div
        ></sb-card>
    </div>
</div>
