li.nav-item.dropdown.dropdown-user.no-caret(
    ngbDropdown,
    placement='bottom-right',
    display='dynamic'
)
    a((click)="refreshPicture()", routerLink="/dashboard")
        fa-icon([icon]='["fas", "sync"]', title="refresh picture", i18n-title="@@refreshPicture" )

