.row
    .col-xl-6
        sb-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "door-open"]')
                | Door
                .float-right
                    sb-dashboard-door-action([stateDoorIsClosed]='stateDoorIsClosed')
            .card-body(*ngIf='!stateDoorIsClosed') State : Opened
            .card-body(*ngIf='stateDoorIsClosed') State : Closed
            .card-body Next opening time :
                |  {{nextOpeningTime}}
            .card-body Next closing time :
                |  {{nextClosingTime}}

    .col-xl-6
        sb-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "camera"]')
                | Webcam
            .card-body <img src="./assets/img/webcam.png" />
