.row
    .col-xl-6
        sb-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "door-open"]')
                | Door
                .float-right
                    sb-dashboard-door-action([doorStatus]='doorStatus')
            .card-body(*ngIf='doorStatus !== undefined && doorStatus === "OPENED"') State : Opened
            .card-body(*ngIf='doorStatus !== undefined && doorStatus === "CLOSED"') State : Closed
            .card-body(*ngIf='doorStatus === undefined || doorStatus === "UNDEFINED"') State : Undefined
            .card-body(*ngIf='doorStatus !== undefined && doorStatus === "SEEMS_OPENED"') State : Seems opened
            .card-body(*ngIf='doorStatus !== undefined && doorStatus === "SEEMS_CLOSED"') State : Seems closed
            .card-body Next opening time :
                |  {{nextOpeningTime}}
            .card-body Next closing time :
                |  {{nextClosingTime}}
    .col-xl-6
        sb-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "camera"]')
                | Webcam
            .card-body <img src="./assets/img/webcam.png" />
