<sb-layout-dashboard
    ><sb-dashboard-head title="System" i18n-title="@@system" [hideBreadcrumbs]="true"></sb-dashboard-head
    ><sb-card
        ><div class="card-body"><span i18n="@@systemInfo">This board allows you to configure the system parameters.</span></div></sb-card
    ><sb-card
        ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "music"]'></fa-icon>Versions</div>
        <div class="card-body">
            Front-End version : TODO
            <br />
            Back-End version : TODO
        </div></sb-card
    ></sb-layout-dashboard
>
