div.spinner-border(*ngIf='tableIsLoading')
    span(i18n='@@loading').sr-only Loading...
div(*ngIf='!tableIsLoading')
    table(
        mat-table,
        matSort,
        [dataSource]="dataSource"
    )
        ng-container(matColumnDef="dateTime")
            th(mat-header-cell,*matHeaderCellDef,mat-sort-header) Date
            td(mat-cell,*matCellDef="let info") {{ info.dateTime | date : 'd/M, H:mm' }}

        ng-container(matColumnDef="temperature")
            th(mat-header-cell,*matHeaderCellDef,mat-sort-header) Temperature
            td(mat-cell,*matCellDef="let info") {{ info.temperature | temperature }}

        ng-container(matColumnDef="externalTemperature")
            th(mat-header-cell,*matHeaderCellDef,mat-sort-header) External Temperature
            td(mat-cell,*matCellDef="let info") {{ info.externalTemperature | temperature }}

        ng-container(matColumnDef="humidity")
            th(mat-header-cell,*matHeaderCellDef,mat-sort-header) Humidity
            td(mat-cell,*matCellDef="let info") {{ info.humidity | humidity }}

        ng-container(matColumnDef="externalHumidity")
            th(mat-header-cell,*matHeaderCellDef,mat-sort-header) External Humidity
            td(mat-cell,*matCellDef="let info") {{ info.externalHumidity | humidity }}

        tr(mat-header-row,*matHeaderRowDef="displayedColumns")
        tr(mat-row,*matRowDef="let row; columns: displayedColumns;")

    mat-paginator(
        [pageSizeOptions]="[10, 20, 30]",
        showFirstLastButtons,
        aria-label="Select page of periodic elements"
    )

