footer.py-4.bg-light.mt-auto
    .container-fluid
        .d-flex.align-items-center.justify-content-between.small
            .text-muted
                span(i18n="@@producedBy") Brought to you by
                | {{' '}}
                a(href='https://twitter.com/jibe77') @jibe77
            .text-muted
                span(i18n="@@sourceCode") Source code
                | {{' '}}:{{' '}}
                a(href='https://github.com/jibe77/hermanasclient', i18n="@@frontEnd") Front-End
                | {{' '}}-{{' '}}
                a(href='https://github.com/jibe77/hermanas', i18n="@@backEnd") Back-End
