li.nav-item.dropdown.dropdown-user.no-caret(
    ngbDropdown,
    placement='bottom-right',
    display='dynamic'
)
    a((click)="refreshWeather()", routerLink="/dashboard")
        fa-icon([icon]='["fas", "sync"]', title="refresh meteo info", i18n-title="@@refreshMeteoInfo" )

