sb-layout-dashboard
    sb-dashboard-head(title='Weather', i18n-title="@@weather", [hideBreadcrumbs]='true')

    sb-card
        .card-body
            span(i18n="@@weatherInfo") This board is displaying the weather fetched from a temperature and humidity probe inside the chicken coop.

    sb-card
        .card-header
            fa-icon.mr-1([icon]='["fas", "table"]')
            | Last 24 hours
        .card-body
            // put a table here
            // sb-charts-area
            // sb-ng-bootstrap-table([pageSize]='6')
        .card-footer.small.text-muted Updated yesterday at 11:59 PM

    sb-card
        .card-header
            fa-icon.mr-1([icon]='["fas", "chart-bar"]')
            | Temperature history
        .card-body
            // put a chart here
            // sb-charts-bar
        .card-footer.small.text-muted Updated yesterday at 11:59 PM

    sb-card
        .card-header
            fa-icon.mr-1([icon]='["fas", "chart-bar"]')
            | Humidity history
        .card-body
            // put a chart here
            // sb-charts-bar
        .card-footer.small.text-muted Updated yesterday at 11:59 PM
