<div class="row">
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-primary"><div class="card-body">The door is closed</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-warning"><div class="card-body">Door hasn't closed correctly</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-success"><div class="card-body">Door is now opened</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-danger"><div class="card-body">Door is not closed correctly</div></sb-card-view-details>
    </div>
</div>
